<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= name %> (Item) | Simple Counter
    </title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/scripts/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/stylesheets/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Item detail: <%= name %>
        </h2>
        <a class="btn blue" href="/list">Back to list <i class="material-icons left">arrow_back</i></a>
        <a class="btn red" href="/item/<%= id %>/delete">Delete <i class="material-icons left">delete</i></a>
        <a class="btn waves-effect waves-light modal-trigger" id="rename-item" href="#edit">Rename/Edit
            <i class="material-icons right">edit</i></a>
        <table class="highlight" style="font-size:18px">
            <tbody>
                <tr>
                    <th>Description</th>
                    <td>
                        <%= description %>
                    </td>
                </tr>
                <tr>
                    <th>Count:</th>
                    <td>
                        <%= count %>
                    </td>
                </tr>
                <tr>
                    <th>Tags:</th>
                    <td>
                        <div class="item-tags">
                            <% if(tags) { for(let i=0; i < tags.length; i++) {%>
                                <a class="chip" href="/tag/<%= tags[i] %>">
                                    <%= tags[i] %>
                                </a>
                                <% } } %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal" id="edit">

            <div class="modal-content">

                <h2>Edit item:</h2>
                <form method="post" action="/item/<%= id %>">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="nameInput">Item Name:</label>
                            <input type="text" name="name" id="nameInput" class="validate" data-length="32"
                                value="<%= name %>">
                        </div>
                        <div class="input-field col s6">
                            <label for="countInput">Item Count:</label>
                            <input type="number" name="count" id="countInput" value=<%=count %>>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="descriptionInput">Item Description:</label>
                            <textarea class="materialize-textarea" name="description" id="descriptionInput"><%= description %></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="chips no-autoinit" id="filter-tags"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        M.AutoInit();
        taglist = {
                    /* FIXME TODO */
        };
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.chips');
            var instances = M.Chips.init(elems, {
                placeholder: 'Tags',
                secondaryPlaceholder: 'Add more tags',
                autocompleteOptions: {
                    data: taglist,
                    limit: Infinity,
                    minLength: 1
                }, data: [                            
                    /* FIXME TODO */
            ]
        });
        });</script>
</body>

</html>